/* 
====================================
Sets up styles for sidebar
====================================
*/

.sidebar-container {

    background: #ececec;
    height: 100%;
    position: fixed;
    padding: 60px;
    width: 200px;
}

nav {
    top: 0;
}

nav a,
nav h2 {
    display: block;
    position: relative;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 1em;
    text-align: center;
    color: #444444;
}

a:hover {
    color: #046836;
    font-weight: 600;
}

 /* 
====================================
Sets up styles for .content-container 
====================================
*/

/* Positions section container in relation to .sidebar-container */
.section-container {
    background:white;
    margin-top: 40px;
    margin-left: 310px;
    padding: 30px 30px;
    height: 100%;
  }
  
  /* Sets max width for content and align content in middle of section-container */
.content-container {
     background:white;
     margin: 0 auto;
     max-width: 850px;
  }

  /* Sets row behavior using flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.row-container-no-wrap {
    width: 75%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .row-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 15px;
      margin-bottom: 15px;
  
  }


 /* 
====================================
Sets all document font styles
====================================
*/
  p {
    font-family: 'Open Sans', sans-serif;
    color: #444444;
  }

  h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.25em;
    color: #444444;
  }
  h2 {
    font-family: 'Open Sans', sans-serif;
    color: #444444;
  }
  h3 {
    font-family: 'Open Sans', sans-serif;
    color: #444444;
  }

   /* 
====================================
Sets all document color styles
====================================
*/
  .color-box {
    width: 16em;
    height: 9em;
    background: black;
    padding: 10px;
    margin: 10px;
    display:block;
    }
    
    .p-centered {
      font-family: sans-serif;
      font-size: 1em;
      margin: 0.75em;
      padding: 0.75em;
      line-height: 5px;
      color: white;
    }

    .p-centered-light{
      font-family: sans-serif;
      font-size: 1em;
      margin: 0.75em;
      padding: 0.75em;
      line-height: 5px;
      color: #000000;
    }

    .field-green { 
      background: #046836;
    }

    .sunset-yellow {
      background: #FEAD02;
    }
    .cloud-white {
      background: #ffffff;
      color:#000000;
      border: solid 1px #444444;
    }

    .grey-ground {
      background: #323332;
    }

    .grn-wash {
      background:rgb(224, 238, 226)
      ;
    }

    .sun-yel {
      background:rgb(255, 241, 212)
      ;
    }

    /* 
    ====================================
    Sets all document color styles
    ====================================
    */

    .btn {
      background-color:#FEAD02;
      color: #444444;
      border: 1px solid #ffffff;
      padding: 14px 48px;
      margin: 5px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      cursor: pointer;
    }
    
    /* normal */
    .normal {
      background: #FEAD02;
      /* border: 1px solid #ffffff; */
      color: #444444;
    }
    

    /* hover */
    .hover {
      background: #046836;
      /* border: 1px solid #ffffff; */
      color: #ffffff;
    }
    
    /* focus */
    .focus {
      background: #046836;
      border: 1px solid #FEAD02;
      color: #ffffff;
    }
    
    
    /* active */
    .active {
      background: #FEAD02;
      border: 1px solid #444444;
    }
    

    /* disabled */
    .disabled {
      background: #CCCCCC;
      /* border: 1px solid #ffffff; */
      color: #ffffff;
    }

    /* 
    ====================================
    Sets all icons styles
    ====================================
    */
    .icons {
      height: 65px;
      weight: 78px;
    }

        /* 
    ====================================
    Sets all image
    ====================================
    */

    /* .images {
      display: inline-block;
      margin: 0 0 1em;
      width: 100%;
    }
    .masonry {
      column-count: 4;
      column-gap: 1em;
    } */

    /* .masonry {
      column-count: 3;
      column-gap: 1em;
  } */
  
  .images { /* Masonry bricks or child elements */
      background-color: #eee;
      display: inline-block;
      margin: 0 0 1em;
      width: 100%;
  }
  
  .wrapper {
      width: 95%;
      margin: 3em auto;
  }
  
  .masonry {
      margin: 1.5em 0;
      padding: 0;
      -moz-column-gap: 1.5em;
      -webkit-column-gap: 1.5em;
      column-gap: 1.5em;
      font-size: .85em;
      column-count: 3;
      column-gap: 1em;
  }
  
  .images {
      display: inline-block;
      background: #fff;
      /* padding: 1em; */
      margin: 0 0 1.5em;
      width: 100%;
    -webkit-transition:1s ease all;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-shadow: 2px 2px 4px 0 #ccc;
  }
  .images img{max-width:100%;}
  
  @media only screen and (min-width: 367px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

  @media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }